{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}

{% block dashboard_title %}
Quiz List
{% endblock %}


<!-- navbar address -->
{% block navbar_address %}
<li class="breadcrumb-item active">Quiz List</li>
{% endblock %}

<!-- Main Content -->
{% block content %}
<!-- form start -->
<div class="content">

    <div class="card-body">

        <div class="card" style="height: 727px;">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between" style="align-items: center;">
                    <h3 class="card-title">All quiz List</h3>
                    <div class="dropdown" style="margin-left:60%">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Question
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% for book in books %}
                            <li><a class="dropdown-item" href="{% url 'admin-list-quiz-book' book.book_id %}">{{book.title}}</a></li>
                            {% endfor %}
                      </ul>
                    </div>
                    <a href="{% url 'admin-add-quiz' %}">Add New Quiz</a>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- Book list card -->
            <div class="card-body table-responsive p-0">

                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Quiz Type</th>
                        <th style="text-align: center;">Quiz Question Statement</th>
                        <th style="text-align: center;">Book</th>
                        <th style="text-align: center;">Delete</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for quiz in quizs %}
                    <tr>
                        <td style="text-align: center;">{{ quiz.quiz_type }}</td>
                        <td style="text-align: center;">{{ quiz.quiz_question_statement }}</td>
                        <td style="text-align: center;">{{ quiz.quiz_book.title }}</td>

                        <td style="text-align: center;">
                            <a data-toggle="modal" href="#admin-modal-delete-deal-{{quiz.quiz_id}}">
                                <i
                                        class="fas fa-trash-alt"
                                        style="color:red">
                                </i>
                                <div class="modal fade" id="admin-modal-delete-deal-{{quiz.quiz_id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content bg-danger">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete a Quiz</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are yuo sure you want to delete This Quiz?</p>
                                                <p>Name: {{quiz.quiz_question_statement}}</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-outline-light"
                                                        data-dismiss="modal">
                                                    Close
                                                </button>

                                                <button onclick="delete_quiz({{quiz.quiz_id}})" type="button"
                                                        class="btn btn-outline-light">Delete
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
</div>

<script>
    function delete_quiz(quiz_id){
        $.ajax({
            url: 'delete_quiz/'+parseInt(quiz_id),
            type: 'get', // This is the default though, you don't actually need to always mention it
            success: function(data) {
                window.location.href = '';
            },
            failure: function(data) {
                alert('Not successful!');
            }
        });
    }


</script>

{% endblock %}