{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}

{% block dashboard_title %}
User Deal Voucher List
{% endblock %}


<!-- navbar address -->
{% block navbar_address %}
<li class="breadcrumb-item active">User Deal Voucher List</li>
{% endblock %}

<!-- Main Content -->
{% block content %}
<!-- form start -->
<div class="content">

    <div class="card-body">

        <div class="card" style="height: 727px;">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">All User Deal Voucher List</h3>
                    <a href="{% url 'admin-add-user-deal-voucher' %}">Add User Deal Voucher</a>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- Book list card -->
            <div class="card-body table-responsive p-0">

                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Deal voucher</th>
                        <th style="text-align: center;">User</th>
                        <th style="text-align: center;">Valid Up to</th>
                        <th style="text-align: center;">Edit</th>
                        <th style="text-align: center;">Delete</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for voucher in vouchers %}
                    <tr>
                        <td style="text-align: center;">{{ voucher.deal_voucher }}</td>
                        <td style="text-align: center;">{{ voucher.user }}</td>
                        <td style="text-align: center;">{{ voucher.valid_up_to }}</td>
                        <td style="text-align: center;">
                            <a href="{% url 'admin-edit-user-deal-voucher' voucher.deal_voucher_user_id %}">
                                <i
                                        class="fas fa-edit" style="color:black">
                                </i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a data-toggle="modal" href="#admin-modal-delete-mode-{{mode.mode_id}}">
                                <i
                                        class="fas fa-trash-alt"
                                        style="color:red">
                                </i>
                                <div class="modal fade" id="admin-modal-delete-mode-{{mode.mode_id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content bg-danger">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete a User Mode</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are yuo sure you want to delete this User Deal Voucher?</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-outline-light"
                                                        data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button onclick="delete_user_deal_voucher({{voucher.deal_voucher_user_id}})" type="button"
                                                        class="btn btn-outline-light">Delete
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
</div>

<script>
    function delete_user_deal_voucher(mode_id){
        $.ajax({
            url: 'delete_user_deal_voucher/'+parseInt(mode_id),
            type: 'get', // This is the default though, you don't actually need to always mention it
            success: function(data) {
                window.location.href = '';
            },
            failure: function(data) {
                alert('Not successful!');
            }
        });
    }

</script>

{% endblock %}