{% extends 'user_dashboard/base.html' %} 
{% load static %} 
{% block navbar_address %}

<li class="breadcrumb-item"><a href="{% url 'user-product-detail' book.book_id %}">Product Detail</a></li>

<li class="breadcrumb-item active">{{book.title}}</li>

{% endblock navbar_address %} 
{% block content %}

<div id="pspdfkit" style="width: 100%; height: 100vh;"></div>

<script>

let url_pdf = null;
$.ajax({
    url: '{% url "user-get-book" book.book_id 1 %}',
    type: 'get', // This is the default though, you don't actually need to always mention it
    success: function(data) {
		PSPDFKit.load({
			container: "#pspdfkit",
			document: data,
		}).then(function(instance) {
				console.log("PSPDFKit loaded", instance);
		}).catch(function(error) {
				console.error(error.message);
		});
	},
	failure: function(data){

	}
});
	
</script>
{% endblock %}
