{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block navbar_address %}
<li class="breadcrumb-item"><a href="{% url 'user-product-detail' book.book_id %}">Product Detail</a></li>

<li class="breadcrumb-item active">{{book.title}}</li>

{% endblock navbar_address %}
{% block content %}


<style>
  .btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .top-bar-book {
    margin-left: 2%;
  }

#annotation-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}

#annotation-layer > section {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

#annotation-layer > .linkAnnotation > a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


</style>

<div class="top-bar-book row" style="margin-left: 21%; width: 79%">
    <div style="width: 30%; font-size: 10px">
        <button class="btn" id="prev-page" style="padding-left:18px; padding-right: 18px; font-size: 10px">
            <i class="fas fa-arrow-circle-left"></i>
            &ensp; Prev Page
        </button>
        <span class="page-info" style="margin-left: 2%; margin-right: 2%">
    Page <span id="page-num"></span> of <span id="page-count"></span>
    </span>
        <button class="btn" id="next-page" style="padding-left:18px; padding-right: 18px; font-size: 10px">
            Next Page &ensp;<i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>
    <div class="input-group" style="width: 30%; margin-left:5%">
        <input
                type="text"
                class="form-control"
                placeholder="Enter a word"
                aria-label="Enter a word"
                aria-describedby="basic-addon2"
                id="search_word"
                style="    height: auto;"
        />
        <div class="input-group-append">
            <button
                    class="btn btn-outline-secondary"
                    type="button"
                    style="box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); padding-left: 20px;padding-right: 20px;background: #ee964b;color: white;"
                    onclick="search_online()"
                    data-toggle="modal"
                    data-target="#myModal"
            >
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

</div>
<div class="row" style="margin-left:21%; margin-top:1%; align-items: center;">
    <h3>Go to Page#</h3>
    <input style="margin-left:1%; width:5%; text-align: center;" type="number" min="1" id="goto_page"/>
    <button style="margin-left: 1%;background: silver; height:30px; width: 50px" onclick="goto_page()"> Go</button>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Word: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p style="font-size: 20px">Origin:</p>
                    <p class="search-modal-origin"></p>

                    <p style="font-size: 20px">Part of Speech:</p>
                    <p class="search-modal-part-of-speech"></p>

                    <p style="font-size: 20px">Definition:</p>
                    <p class="search-modal-definition"></p>

                    <p style="font-size: 20px">Example:</p>
                    <p class="search-modal-example"></p>

                    <p style="font-size: 20px">Synonyms:</p>
                    <p class="search-modal-synonyms"></p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row" style="margin-left: 21%; width: 79%; margin-bottom: 20px ">

    <div style="
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
      width: 45%;
      height: 800px;
      margin-top: 20px;
      overflow:scroll;
    ">
        <canvas id="pdf-render" style="width: 100%">

        </canvas>
    </div>

    <div style="width: 30%; margin-top: 50px;height: fit-content; margin-left: 5%">
        <!--        <button class="btn btn-primary" onclick="save_bookmark({{book.book_id}})">BookMark this page</button>-->
        <div class="row">
            <div class="dropdown show" style="margin-bottom: 20px; ">
                <a
                        class="btn btn-outlined&#45;&#45;primary dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        style=" padding-left:20px; padding-right: 20px; font-size: 10px;background: #ee964b;color: white !important;border-color: white !important;">
                    BookMark
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 110px; min-width:110px">
                    {% for mark in bookMarks %}
                    <a
                            class="dropdown-item" style="font-size: 10px; width: 110px"
                            href="{% url 'user-read-book' book.book_id mark.bookmark_page_number %}"
                    >Page {{mark.bookmark_page_number}}</a>
                    {% endfor %}
                </div>

            </div>
            <div style="width:22%; margin-left:2%">
                <button class="bookmark-false" title="Add Bookamrk"
                        style="height: 45px;width: 45px;border-radius: 30px;background: #ee964b;">
                    <img
                            src="{% static 'user_dashboard/image/bookmark-false.png' %}"
                            style="height: 22px"
                            onclick="save_bookmark({{book.book_id}})"
                    />
                </button>

                <button class="bookmark-true" title="Remove Bookmark"
                        style="height: 45px;width: 45px;border-radius: 30px;background: #ee964b;">
                    <img
                            src="{% static 'user_dashboard/image/bookmark-true.png' %}"
                            style="height: 22px"
                            onclick="remove_bookmark({{book.book_id}})"
                    />
                </button>
            </div>
        </div>
        <div>


        </div>
        <h3 style="margin-top: 50px; font-size:30px"> NotePad</h3>
        <textarea style="margin-top: 00px;width: 60%; height: 280px; padding: 10px; box-shadow: 0 0 10px black;" placeholder="Write a note"
                  id="book_quick_notes"></textarea>
        <div>
            <button class="btn" style="margin-top: 10px;background: #ee964b;color: white;font-size:15px; width:50px"
                    onclick="save_quick_notes({{book.book_id}})"> Save
            </button>
        </div>
        <div style="margin-top:15px" id="quiz-attempt">
            <button class="btn"
                    style="margin-top: 10x;background: #ee964b;color: white;font-size: 15px;width: 180px;padding-left: 5px;padding-right: 5px;"
            ><a href="{% url 'user_attempt_quiz' book.book_id %}">Attempt the quiz</a>
            </button>
        </div>
    </div>

</div>
<!-- Button trigger modal -->

<div class="row" style="margin-left:21%; margin-top:1%;margin-bottom: 2%">
    <button class="btn" onclick="zoom_in()" style="padding-left:18px; padding-right: 18px; font-size: 20px">
        <i class="fas fa-search-plus"></i>

    </button>
    <button class="btn" onclick="zoom_out()"
            style="margin-left:30%;padding-left:18px; padding-right: 18px; font-size: 20px">
        <i class="fas fa-search-minus"></i>
    </button>
</div>

<!-- Scrollable modal -->

<!--<div id="site-content">-->
<!--    <button id="open" type="button">Open Modal</button>-->
<!--</div>-->
<script>
var book_mark = '/get_bookmark/'+{{book.book_id}};



document.addEventListener("DOMContentLoaded", function() {
    var bookmarks = [];
    var quick_notes = [];
            $('#quiz-attempt').hide();

    $.ajax({
        url: book_mark,
        type: 'get',
        dataType: 'json',
        success: function(data) {
            console.log(data);
            bookmarks = data;
            setTimeout(function() {
                console.log('bookmarks', bookmarks);
                if (bookmarks.length == 0) {
                    $('.bookmark-true').hide();
                }
                for (let i = 0; i < bookmarks.length; i++) {
                    if ($('#page-num').text() == bookmarks[i].fields.bookmark_page_number) {
                        console.log('insert');
                        $('.bookmark-true').show();
                        $('.bookmark-false').hide();
                        break;
                    } else {
                        $('.bookmark-true').hide();
                        $('.bookmark-false').show();
                    }
                }
            }, 1000);
        },
        failure: function(data) {
            console.log(data)
        }
    });

    $.ajax({
        url: '/get_quick_notes/'+{{book.book_id}},
        type: 'get',
        dataType: 'json',
        success: function(data) {
            console.log(data);
            quick_notes = data;
            setTimeout(function() {
                console.log('quick_notes', quick_notes);
                for (let i = 0; i < quick_notes.length; i++) {
                    console.log('quick_notes===', quick_notes[i].fields.QuickNote_page_number);
                    console.log('page-num===', $('#page-num').text());
                    if ($('#page-num').text() == quick_notes[i].fields.QuickNote_page_number) {
                        console.log('quickNotes - insert');
                        $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
                        break;
                    }
                }
            }, 050);
        },
        failure: function(data) {
            console.log(data)
        }
    });



    var canvas = document.getElementById("pdf-render");
    var context = canvas.getContext("2d");
    var scale = 1.5;
    var originx = 0;
    var originy = 0;

    canvas.onmousewheel = function (event){
        var mousex = event.clientX - canvas.offsetLeft;
        var mousey = event.clientY - canvas.offsetTop;
        var wheel = event.wheelDelta/120;//n or -n


        //according to Chris comment
        var zoom = Math.pow(1 + Math.abs(wheel)/2 , wheel > 0 ? 1 : -1);

        context.translate(
            originx,
            originy
        );
        context.scale(zoom,zoom);
        context.translate(
            -( mousex / scale + originx - mousex / ( scale * zoom ) ),
            -( mousey / scale + originy - mousey / ( scale * zoom ) )
        );

        originx = ( mousex / scale + originx - mousex / ( scale * zoom ) );
        originy = ( mousey / scale + originy - mousey / ( scale * zoom ) );
        scale *= zoom;
    }





});

function save_quick_notes(book_id) {
    let page = $('#page-num').text();
    let url_save_quick_note = '/save_quick_note/' + book_id + '/' + page;
    obj.type = 'pdf';
    obj.text = $('#book_quick_notes').val();

    var jsonString= JSON.stringify(obj);

    $.ajax({
        url: url_save_quick_note,
        type: 'get',
        data: {'data': jsonString},
        success: function(data) {
            alert('Saved');
        },
        failure: function(data) {}
    });
}
var quick_notes = [];

$.ajax({
    url: '/get_quick_notes/'+{{book.book_id}},
    type: 'get',
    dataType: 'json',
    success: function(data) {
        console.log(data);
        quick_notes = data;
        setTimeout(function() {
            console.log('quick_notes', quick_notes);
            for (let i = 0; i < quick_notes.length; i++) {
                if ($('#page-num').text() == quick_notes[i].fields.QuickNote_page_number) {
                    console.log('quickNotes - insert');
                    $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
                    break;
                }
            }
        }, 2000);
    },
    failure: function(data) {
        console.log(data)
    }
});


var bookmarks = [];

$.ajax({
    url: book_mark,
    type: 'get',
    dataType: 'json',
    success: function(data) {
        console.log(data);
        bookmarks = data;
        for (let i = 0; i < bookmarks.length; i++) {
            if ($('#page-num').text() == bookmarks[i].fields.bookmark_page_number) {
                console.log('insert');
                $('.bookmark-true').show();
                $('.bookmark-false').hide();
                break;
            } else {
                $('.bookmark-true').hide();
                $('.bookmark-false').show();
            }
        }
    },
    failure: function(data) {
        console.log(data)
    }
});

let url_pdf = null;
var obj = new Object();
obj.type = 'pdf';
var jsonString= JSON.stringify(obj);

var zoom_factor = 1;
var page_number = 1;


$.ajax({
    url: '{% url "user-get-book" book.book_id 0 %}',
    type: 'get', // This is the default though, you don't actually need to always mention it
    data: {'data':jsonString},
    success: function(data) {
        url_pdf = data;
        let pdfDoc = null,
            pageNum = {{page_number}},
            pageIsRendering = false,
            pageNumIsPending = null;

        const scale = 1.5,
            canvas = document.querySelector('#pdf-render'),
            ctx = canvas.getContext('2d');

        // Render the page
        const renderPage = num => {
            pageIsRendering = true;
            page_number = num;
            // Get page
            pdfDoc.getPage(num).then(page => {
                // Set scale
                const viewport = page.getViewport({
                    scale
                });
                canvas.height = viewport.height * zoom_factor;
                canvas.width = viewport.width * zoom_factor;

                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx).promise.then(() => {
                    pageIsRendering = false;

                    if (pageNumIsPending !== null) {
                        renderPage(pageNumIsPending);
                        pageNumIsPending = null;
                    }
                });

                // Output current page
                document.querySelector('#page-num').textContent = num;
            });
        };

        // Check for pages rendering
        const queueRenderPage = num => {
            if (pageIsRendering) {
                pageNumIsPending = num;
            } else {
                renderPage(num);
            }
        };

        // Show Prev Page
        const showPrevPage = () => {
            if (pageNum <= 1) {
                return;
            }
            pageNum--;
            queueRenderPage(pageNum);
        };

        // Show Next Page
        const showNextPage = () => {
            if (pageNum >= pdfDoc.numPages) {
                return;
            }
            pageNum++;
            queueRenderPage(pageNum);
        };

        // Get Document
        pdfjsLib
            .getDocument(url_pdf)
            .promise.then(pdfDoc_ => {
                pdfDoc = pdfDoc_;

                document.querySelector('#page-count').textContent = pdfDoc.numPages;

                renderPage(pageNum);
            })
            .catch(err => {
                // Display error
                const div = document.createElement('div');
                div.className = 'error';
                div.appendChild(document.createTextNode(err.message));
                document.querySelector('body').insertBefore(div, canvas);
                // Remove top bar
                document.querySelector('.top-bar').style.display = 'none';
            });

        // Button Events
        document.querySelector('#prev-page').addEventListener('click', showPrevPage);
        document.querySelector('#next-page').addEventListener('click', showNextPage);
        $(document).on("click", "#zoom", function () {
            //your code
            zoom_factor = 0.5

            renderPage(page_number)

        });



    },
    failure: function(data) {
        alert('Got an error dude');
    }
});

function search_online() {

    let word = $('#search_word').val();
    $.ajax({
        url: 'https://api.dictionaryapi.dev/api/v2/entries/en/' + word,
        type: 'get', // This is the default though, you don't actually need to always mention it
        success: function(data) {
            $('#exampleModalLabel').text('Word: '+word)
            $('.search-modal-title').text($('#search_word').val());
            $('.search-modal-origin').text(data[0].origin);
            $('.search-modal-part-of-speech').text(data[0].meanings[0].partOfSpeech);
            $('.search-modal-definition').text(data[0].meanings[0].definitions[0].definition);
            $('.search-modal-example').text(data[0].meanings[0].definitions[0].example);
            console.log((data[0].meanings[0].definitions[0].synonyms))
            var synonyms = '';
            console.log(data[0].meanings[0].definitions[0].synonyms.length)
            for(var i=0; i < data[0].meanings[0].definitions[0].synonyms.length; i++){
                synonyms = synonyms + data[0].meanings[0].definitions[0].synonyms[i]+', ';
            }
            $('.search-modal-synonyms').text(synonyms);
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });
        },
        failure: function(data) {
            alert('Got an error dude');
        }
    });
}

function save_bookmark(book_id) {
    let page = $('#page-num').text();
    let url_save_bookmark = '/save_bookmark/' + book_id + '/' + page;

    $.ajax({
        url: url_save_bookmark,
        type: 'get', // This is the default though, you don't actually need to always mention it
        success: function(data) {
            alert('Saved');
            $('.bookmark-false').hide()
            $('.bookmark-true').show()
        },
        failure: function(data) {
            alert('Got an error dude');
            $('.bookmark-false').hide()
            $('.bookmark-true').show()
        }
    });
}

function remove_bookmark(book_id) {
    let page = $('#page-num').text();

    let url_save_bookmark = '/remove_bookmark/' + book_id + '/' + page;
    console.log(url_save_bookmark)
    $.ajax({
        url: url_save_bookmark,
        type: 'get', // This is the default though, you don't actually need to always mention it
        success: function(data) {
            alert('Removed');
            $('.bookmark-false').show()
            $('.bookmark-true').hide()
        },
        failure: function(data) {
            alert('Got an error dude');

            $('.bookmark-false').show()
            $('.bookmark-true').hide()
        }
    });

}


$('#next-page').click(function() {

    for (let i = 0; i < bookmarks.length; i++) {
        if (parseInt($('#page-num').text()) + 1 == bookmarks[i].fields.bookmark_page_number) {
            $('.bookmark-true').show();
            $('.bookmark-false').hide();
            break;
        } else {
            $('.bookmark-true').hide();
            $('.bookmark-false').show();
        }
    }

    for (let i = 0; i < quick_notes.length; i++) {
        console.log($('#page-num').text() + 1 , quick_notes[i].fields.QuickNote_page_number)

        if (parseInt($('#page-num').text()) + 1 == quick_notes[i].fields.QuickNote_page_number) {
            $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
            break;
        } else {
            $('#book_quick_notes').text('');
        }
    }
    console.log('test',$('#page-num').text() , $('#page-count').text())
    if (parseInt($('#page-num').text())+1 == parseInt($('#page-count').text())){
        console.log('Last Page');
        $('#quiz-attempt').show();
    }
    console.log('test')

});

$('#prev-page').click(function() {

    for (let i = 0; i < bookmarks.length; i++) {
        if (parseInt($('#page-num').text()) - 1 == bookmarks[i].fields.bookmark_page_number) {
            console.log('insert');
            $('.bookmark-true').show();
            $('.bookmark-false').hide();

            break;
        } else {
            $('.bookmark-true').hide();
            $('.bookmark-false').show();

        }
    }
    for (let i = 0; i < quick_notes.length; i++) {
        console.log($('#page-num').text() - 1 , quick_notes[i].fields.QuickNote_page_number)
        if (parseInt($('#page-num').text()) - 1 == quick_notes[i].fields.QuickNote_page_number) {
           $('#book_quick_notes').text(quick_notes[i].fields.QuickNote_text);
            break;
        } else {
           $('#book_quick_notes').text('');
        }
    }

});


function goto_page(){
    window.location = "/book_reader/"+{{book.book_id}}+"/"+$('#goto_page').val();
}

var width = $('#pdf-render').width()

function zoomed(){
    if($('#pdf-render').width() == 2000){
        $('#pdf-render').width(300);
    } else{
        $('#pdf-render').width(2000);
    }
}

function zoom_in(){
    $('#pdf-render').width($('#pdf-render').width() * 1.5);
}

function zoom_out(){

    $('#pdf-render').width($('#pdf-render').width() / 1.5);
}

jQuery(document).ready(function(){
   $("#wrapper").mouseover(function(e){
      $('#status').html(e.pageX +', '+ e.pageY);
   });
})



</script>

{% endblock %}
