{% extends 'user_dashboard/base.html' %}
{% block navbar_address %}
<li class="breadcrumb-item active">Forget Password</li>
{% endblock navbar_address %}

{% block content %}
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3 col-xs-2 col-lg-3 mb--30 mb-lg--0"></div>
            <div class="col-sm-8 col-md-6 col-xs-8 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                <form action="{% url 'user-login' %}" method="post">
                    {% csrf_token %}

                    <div class="login-form">
                        <h4 class="login-title login-headings">Forget Password</h4>
                        <p class="login-headings">Please enter your email to retrieve your account password.</p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">Email address</label>
                                <input class="mb-0 form-control" type="email" id="email" name="email"
                                       placeholder="Enter you email address here.">
                            </div>

                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <a class="btn btn-outlined" onclick="retrieve()">Send</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</main>

<script>
function retrieve(){
    if( ValidateEmail($('#email').val())){

        $.ajax({
            url: '/retrieve_password/'+$('#email').val(),
            type: 'get', // This is the default though, you don't actually need to always mention it
            success: function(data) {
                alert('Your new password is "new_pass_123". Please login and change it.')

            },
            failure: function (data){}
        });
    }else{
        alert('PLease input a valid email')

    }

}


function ValidateEmail(mail)
{
 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
  {
    return (true)
  }
    alert("You have entered an invalid email address!")
    return (false)
}
</script>
{% endblock %}