{% extends 'user_dashboard/base.html' %}
{% block navbar_address %}
<li class="breadcrumb-item active">Login</li>
{% endblock navbar_address %}

{% block content %}
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3 col-xs-2 col-lg-3 mb--30 mb-lg--0"></div>
            <div class="col-sm-8 col-md-6 col-xs-8 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                <form action="{% url 'user-login' %}" method="post">
                    {% csrf_token %}

                    <div class="login-form">
                        <h4 class="login-title login-headings">Sign In</h4>
                        <p class="login-headings">Sign In below, or <a href="signup.html">create an account</a> to check
                            out faster, view your order history and more.</p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">Email address</label>
                                <input class="mb-0 form-control" type="email" id="email" name="email"
                                       placeholder="Enter you email address here.">
                                <p>We'll never share yor email with anyone else.</p>
                            </div>

                            <div class="col-12 mb--20">
                                <label for="password">Password</label>
                                <input class="mb-0 form-control" type="password" id="password" name="password"
                                       placeholder="Enter your password">
                            </div>
                            {% if error %}
                                 <div class="col-12 mb--20" style="background: rgba(255, 0, 0, 0.4); padding: 2%; max-width: 90%; margin-left: 3%;">
                                    {{ error }}
                                 </div>
                            {% endif %}
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-outlined">Login</button>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-outlined" href="{% url 'user-signup' %}">Signup</a>
                                </div>
                            </div>

                        </div>
                        <div><a href="{% url 'user_forget_password' %}">forger Password?</a></div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</main>
{% endblock %}