<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Book Store</title>
    {% load static %}
    <!--    <link rel="stylesheet" href="{% static 'style.css' %}">-->
    <style>
    {% block style %}
    {% endblock %}
    </style>
</head>
<body>

{% block content %}
{% endblock %}
</body>
<footer>

</footer>
<script>

</script>
{% block script %}
{% endblock %}
</html>